
body {
   margin: 30px ;
   font-family: Montserrat,Arial, Helvetica, sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   background: rgb(24,100,170);
   background: linear-gradient(90deg, rgba(24,100,170,1) 0%, rgba(51,103,240,1) 51%, rgba(0,212,255,1) 100%);
   background-attachment: fixed;
   -webkit-box-shadow: 5px 5px 15px 5px #000000; 
   box-shadow: 5px 5px 15px 5px #000000;
}

header {
   background-image: url("../images/sunset.png");
   background-repeat: no-repeat;
   background-position: right;
   background-size: contain;
   background-color: rgb(4, 4, 79);
   margin-bottom: -30px;
   
}
header h1 {
   text-align: center;
   color: rgb(255, 255, 255);
   padding: 15px 0;
}

nav {
   background-color: white;
   text-align: center;
   padding: 20px 0;
}

a {
   text-decoration: none;
}
nav a:hover{
   border-bottom: solid 5px rgb(4, 4, 79);
}

.hero {
   background-image: url("../images/hero.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 35em;
   margin-bottom: -30px;
  
}
 
main{
   background-color: white;
}
.content{
   padding: 0 30px;
   }

main ul li{
   padding-top: 5px;
}

.blue {
   color:rgb(4, 4, 79);
}
.highlight{
   font-size: 20px;
   font-weight: 500;
}
.tpadding20px{
   padding-top: 20px;
}
footer{
   margin-top: -30px;
   background-color: white;
   padding: 40px 30px 10px;
   text-align: center;
}

.cottage {
   text-align: center;
}
