
body {
   margin: 30px ;
   font-family: Montserrat,Arial, Helvetica, sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   background: rgb(24,100,170);
   background: linear-gradient(90deg, rgba(24,100,170,1) 0%, rgba(51,103,240,1) 51%, rgba(0,212,255,1) 100%);
   background-attachment: fixed;
   -webkit-box-shadow: 6px 5px 11px -1px rgba(0,17,116,0.47); 
   box-shadow: 6px 5px 11px -1px rgba(0,17,116,0.47);
}

header {
   background-image: url("../images/sunset.png");
   background-repeat: no-repeat;
   background-position: right;
   background-size: contain;
   background-color: rgb(4, 4, 79);
   margin-bottom: -30px;
   
}
header h1 {
   text-align: center;
   color: rgb(255, 255, 255);
   padding: 15px 0;
}

nav {
   background-color: white;
   text-align: center;
   padding: 20px 0;
}

a {
   text-decoration: none;
}
nav a:hover{
   border-bottom: solid 5px rgb(4, 4, 79);
}

.hero {
   background-image: url("../images/hero.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 35em;
   margin-bottom: -30px;
}
.cottages-hero {
   background-image: url("../images/cottages-hero.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 35em;
   margin-bottom: -30px;
}
.activities-hero {
   background-image: url("../images/activities-hero.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 35em;
   margin-bottom: -30px;
}
 
main{
   background-color: white;
}
.content{
   padding: 0 30px;
   }

main ul li{
   padding-top: 5px;
}

.blue {
   color:rgb(4, 4, 79);
}
.highlight{
   font-size: 20px;
   font-weight: 500;
}
.tpadding20px{
   padding-top: 20px;
}
.txt-center{
   text-align: center;
}

.paddinglr50px {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

footer{
   margin-top: -30px;
   background-color: white;
   padding: 40px 30px 10px;
   text-align: center;
}

.cottage {
   text-align: center;
}

.container-cottage{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: left;
   padding: 30px 50px;
}
.container-cottage img{
   width: 100%;
   height: auto;
   vertical-align: middle;
   border-radius: 20px 20px 0 0;
   
}
.cottage-list { 
   width: 250px;
   border: 2px solid rgb(4, 4, 79);
   border-radius: 20px;
   box-shadow: 2px 2px 9px 1px rgba(6,53,115,0.32);
  -webkit-box-shadow: 2px 2px 9px 1px rgba(6,53,115,0.32);
  -moz-box-shadow: 2px 2px 9px 1px rgba(6,53,115,0.32);
   margin-top: 30px;
   
   
}

.cottage-info{
   padding: 2px  20px;
   background-color: rgb(246, 245, 245);
   border-radius: 0 0 20px 20px;
   border: px solid red;
   
}

.activities {
   padding-top: 30px;
   margin-left: auto;
   margin-right: auto;
   max-width: 80%;
   
}
